@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>jquery-form test</h3>

<div>
    <form id="myForm" asp-controller="Home" asp-action="Comment" method="POST">
        TheName: <input type="text" name="name">
        <br /><br />
        Comment: <textarea name="comment"></textarea>
        <br /><br />
        <input type="submit" value="Submit Comment">
    </form>
</div>

@section scripts {
    <script>
        @*  
        $(function() {
          // bind 'myForm' and provide a simple callback function
          $('#myForm').ajaxForm(function() {
              alert("Thank you for your comment!");
          });
        }); *@

        $('#myForm').on('submit', function(event) {
            alert("Thank you for your comment!");
        });
    </script>

}